.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 20vw;
  flex-wrap: wrap;
  background-color: white;
  color: #00ad7f;
}

.form h1 {
  color: #00ad7f;
}
.form > input {
  margin: 0.5rem;
  background-color: #e6f8e8;
}

.ctextarea {
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: #e6f8e8;
}
.cspan {
    /* font-size: 2rem; */
    padding: 1rem;
}
.cinput {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}

.cbutton {
  background: #00ad7f;
  border: none;
  color: white;
}

.ctag-wrapper {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.ctags {
    background-color: #e6f8e8;
    display: flex;
    align-items: center;
    justify-content: center;
  color: #00ad7f;
    margin: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem;
    padding-top: 0;
    padding-left: 1.2rem;
    border-radius: 50px;
}


.remove-x {
    color: red;
    margin-left: 0.7rem;
    display: inline;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    
}

.remove-x:hover {
    cursor: pointer;
}

.header-row {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.header-row h1 {
  font-size: 2rem;
  font-weight: bold;
}

.cerow {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 1rem; */
}

.cerow input[type="text"] {
  width: 50%;
}

input[type="text"]:disabled {
  background: #aaaaaa;
}